body{
    text-align: center;
}
.box{
    height: 200px;
    width: 200px;
    display: block;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.black{
    background-color: black;
}
.container{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
}
@media screen and (max-width: 600px){
    .green, .orange{
        display: none;
    }
}
@media screen and (min-width: 1000px){
    .box{
        width: 100%;
    }
}